.wrapper{
  background-color: #717171;

}
.logo{
  height: 200px;
}
.mobile-pic img {
  width: 100%;
}
.logo-box{
  width: 25%;
  margin: 0 auto;
  background-color:
}

h1{
  font-family: "Lobster",sans-serif;
  font-size: 55px;
  color: #8BB1D4;
  text-align: center;
  background-color: black;
}
.tagline h4{
  text-align: center;
  font-family: "Cabin", sans-serif;
  font-size: 35px;
  color: #2E1C35;
}
.tagline{
  background-color: #717171;
}
.bike-pics{
  width: 100%;
}
.bike-pics img{
  float: left;
  width: 33%;
  height: 200px;
  max-width: 100%;
}
.clearfix{
  clear: both;
}
@media(max-width: 786px){
  .mobile-pic{
    margin-left: 150px;;
    text-align: center;
    height: 100%;
    width: 100%%;
  }
  .about {
    display: none;
  }

}
.about{

    background-color: #717171;
    font-family: "Lobster",sans-serif;
    text-align: center;

}
.contact{
  text-align: center;
  font-size: 30px;
  color: #8BB1D4;
  font-family: "Cabin", sans-serif;

}
.footer{
  text-align: center;
  color: #2E1C35;;
}
